<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hello, and welcome!</h2>
    <p>This email contains important information regarding your Fat Envelope Boot Camp course.  Please print it and keep a copy for your records and for future reference.</p>
	<h3>Getting Started</h3>
	<p>You have registered for The Common Application Boot Camp course on <%= @registration.bootcamp_date.blank? ? '' : @registration.bootcamp_date.strftime("%m/%d/%Y") %>.  If you need to reschedule, please email us at <a href="mailto:info@fatenvelopeessays.com?Subject=Fat%20Envelope%20Information%20Request" target="_top">info@fatenvelopeessays.com</a>.  We cannot guarantee that space will be available on other dates, so it’s important that you contact us as soon as possible if you need to change the date of your course.</p>
	<br/>
	<p>Your login is the student email address that you provided and the password that you chose during the registration process.   If you’ve forgotten your password, please click <a href="http://fatenvelopeessays.com/users/password/new">here</a> to reset your password.</p>
	<h3>There are three initial steps that you need to take prior to attending your class:</h3>
	<p>1)	Download and complete the Student Assessment <br/>
	   2)	Download and complete the Parent Assessment <br/>
	   3)	Schedule your initial one-on-one session with a Fat Envelope writing coach.  You need to choose a one-hour time block and complete the session at least one day prior to your boot camp date. <br/></p>
	<br/>
	
	<p>To find these materials and the online schedule, go to your student dashboard by logging in <a href="http://fatenvelopeessays.com/users/sign_in" target="_top">here</a>.</p>
	<h3>What to Bring to your Boot Camp Class</h3>
	<p>•	Completed Student Assessment form <br/>
	   •	Completed Parent Assessment  form <br/>
	   •	Laptop and power cord <br/>
	   •	Lunch (a variety of drinks and snacks will be provided)
	</p>
	<h3>Writing Software</h3>
	<p>Included in your Boot Camp tuition is unlimited access to our Fat Envelope writing software.  This is a tool that you will be able to use to help with any essay, and you’ll be able to use it through the summer of 2014 (access expires on August 14, 2014).  You will be given instructions and a link to this software during your first Boot Camp session.</p>
	<br/>
	<h3>Location</h3>
	<p>2657 37th Ave. SW<br/>
	Seattle, WA  98126<br/>
	<a href="https://maps.google.com/maps?q=2657+37th+ave+sw+seattle+wa+98126&ie=UTF-8&hq=&hnear=0x54904069aad27635:0xaea60ffeef56762a,2657+37th+Ave+SW,+Seattle,+WA+98126&gl=us&daddr=2657+37th+Ave+SW,+Seattle,+WA+98126&ei=u-w1UtXqKMLTiwKNoYDoBw&ved=0CC4QwwUwAA">Map</a></p>


	<h3>Time</h3>
	<p>10am – 4pm (please arrive at least 15 minutes prior to start time)</p><br/>
	<p>We look forward to meeting you, and to helping you create your perfect power essay for college!</p><br/>
	<p>If you have any questions, please don’t hesitate to contact us at <a href="mailto:info@fatenvelopeessays.com?Subject=Fat%20Envelope%20Information%20Request" target="_top">info@fatenvelopeessays.com</a>.</p>
	<br/>
	<br/>
	<br/>
	<p>Sincerely,</p>
	<p>The Fat Envelope Essays Team</p>
	
  </body>
</html>