<div class="container">

	<div class="span12">
		<h1>Thank you for registering for Fat Envelope Common Application Essay Boot Camp</h1>
		<br/><br/>
		<p>For further details on your program, please review the email you received with your session details from <a>bootcamp@fatenvelopeessays.com</a></p>
		<p>If you have additional questions, please contact us at <a>bootcamp@fatenvelopeessays.com</a></p>
	</div>
</div>