<% @page_name = "dashboard" %>
<div class="container-fluid pricing-container content-holder" id="_pricing">
  <div class="row-fluid">
    <div class="span10">
        <h1 style="font-family: 'Tenor Sans', sans-serif; font-size: 36px;">Welcome to your Fat Envelope Student Dashboard</h1>
     	<div class="row-fluid" style="margin-top:50px; padding-left:30px;">
          	<h2>Step 1</h2>
			<h3>Complete the Student Assessment Form</h3>
			<p>Please download this and answer the questions...you’llbe surprised what this says about YOU!</p>
			<a href="/files/FAT_ENVELOPE_Personal_Student_Assesment.pdf" class="btn btn-primary">Download</a>
			<br/><br/><br/>
			<h2>Step 2</h2>
			<h3>Complete the Parent Assessment Form</h3>
			<p>This assessment is designed to help parents convey to their son or daughter how unique they are.  It is a great way to be supportive and to help your student see themselves from another perspective.  This is also a great worksheet to keep!</p>
			<a href="/files/FAT_ENVELOPE_parent_assesment.pdf" class="btn btn-primary">Download</a>
			<br/><br/><br/>
			<h2>Step 3</h2>
			<h3>Schedule your first one-on-one Session with a Fat Envelope Writing Coach</h3>
			<p>Set up your first coaching session and you’re on your way to getting YOUR fat envelope!</p>
			<a class="btn btn-primary disabled">Online Schedule</a>
		</div>
      </div>
  </div>
</div>