<% content_for :dynamic_js do %>
  <%= javascript_include_tag "video.min.js" %>
<%end%>
<% content_for :dynamic_css do %>
  <%= javascript_include_tag "video-js.css" %>
<%end%> 

<div class="container-fluid essay-container" id="_essay-system">
  <div class="row-fluid">
    <div class="span5">
      <div class="essay">
        <h1>Essay</h1>
        
        <p>Fat Envelope has designed a patent-pending visual essay building system to walk you through five manageable steps to writing your power essay.</p>
        
        <p>Build your essay step-by-step with our patented visual essay building process:</p>
        
        <ul>
          <li>Determine your most competitive essay hook.</li>
          <li> Write and refine your drafts with instant feedback from Fat Envelope essay writing software. </li>
          <li> Work one-on-one with a Fat Envelope writing coach (5 individual sessions/2.5 hours total) </li>
        </ul>
        
        <p>Your personal writing coach will guide you through this process from start to finish.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid about-us-container" id="_about-us">
  <div class="row-fluid">
    <div class="span7">
      <div class="about-us">
        <h1>About Us</h1>
        
        <h2>Nancy Burgoyne</h2>
        <p>Professor Burgoyne holds a Ph.D. in Political Science from New York University and a bachelor’s degree from the University of Utah. She has written, worked and lectured worldwide.  She teaches graduate and undergraduate students and mentors high school students preparing to apply to universities. Nancy is a mother of three who have all been through the college admissions process and she knows firsthand how important a unique polished college essay is for the success for a hopeful student.</p>
        
        <h2>Alicia Hatch</h2>
        <p>Alicia holds a JD from Seattle University and a BA from Brigham Young University.  She is a business development and digital marketing veteran with fifteen years of experience at Microsoft XBOX and as a partner in a global digital marketing firm, Banyan Branch. She is the mother of three young boys who she hopes will attend college someday.</p>
        
        <h2>Masaru Kibukawa</h2>
        <p>Masaru holds a JD from Seattle University and a BA from Dartmouth College. He has almost two decades of professional work in college admissions and advising, particularly for the international student population.</p>
      </div>
    </div>
    
    <div class="span4 offset1">
      <div class="contact-info">
        <p>Questions about our programs?</p>
        
        <p>Please contact us at: <br /> info@fatenvelopeessays.com</p>
        
        <address>
          220 2nd Avenue S <br />
          Seattle, Washington 98104 <br />
          206-877-2123
        </address>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pricing-container" id="_pricing">
  <div class="row-fluid">
    <div class="pricing-heading">
      <h1>Program and Pricing</h1>
    </div>
    
    <div class="pricing-contain">
      <div class="pricing-col">
        <div class="pricing">        
          <h2>DETERMINE YOUR COMPETITIVE ESSAY HOOK:</h2>
          <p class="price">$350</p>
          
          <p>Includes: </p>
          <p>Determine Your Competitive Essay Hook Program, including student and parent questionnaires</p>
          <p>60 min one-on-one session with a Fat Envelope Writing Coach to identify your power topic.</p>
        </div>
      </div>
      
      <div class="pricing-col">
        <div class="pricing">
          <h2>COMPLETE ESSAY PACKAGE</h2>
          <p class="price">$850</p>
          
          <p>Includes: </p>
          <p>Fat Envelope visual essay building system guides you through our five manageable writing units:</p>
          
          <ul>
            <li>Power Topic</li>
            <li> Power Intro</li>
            <li> First Draft</li>
            <li> Power Draft</li>
            <li> Power Polish</li>
          </ul>
          
          <p>Five Fat Envelope personal writing coach sessions help you step-by-step:</p>
  
          <ul style="list-style-type: none; margin: 0">
            <li>Power Topic (60 min)</li>
            <li>Power Intro (60 min)</li>
            <li>First Draft (40 min)</li>
            <li>Power Draft (40 min)</li>
            <li>Power Polish (20 min)</li>
          </ul>
          
          <p>Fat Envelope writing software: one year unlimited access provides instant detailed critique of any essay.</p>  
   
        </div>
      </div>
      
      <div class="pricing-col">
        <div class="pricing">
          <h2>DELUXE ESSAY PACKAGE</h2>
          <p class="price">$1150</p>
          
          <p>Includes: </p>
          <p>COMPLETE ESSAY PACKAGE</p>
          <p>PLUS</p>
          <p>Fat Envelope Interview Preparation Questions and Interview Training:</p>
          <p>60 min one-on-one interview training session with a Fat Envelope Power Interview coach to practice your interview skills.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bootcamp-container" id="_bootcamp">
  <div class="row-fluid">
    <div class="span5">
      <div class="bootcamp">
        <h1>Boot Camp</h1>
        
        <h2>COLLEGE APPLICATION ESSAY BOOT CAMP</h2>
        <p>Most students would agree that the most painful part of the college application process writing the essay.  Sign up for a Get It Done Boot Camp and we will help you complete a competitive college application essay or personal statement in two short days.</p>
        
        <h2>Pre-Boot Camp:</h2>
        <p>Prior to Boot Camp, you will schedule a 60 minute online video chat with a Fat Envelope Writing Coach in order to determine your most competitive essay hook.</p>
        
        <h2>Boot Camp Day One:</h2>
        <ul>
          <li>Overview</li>
          <li> Getting Ready for College:</li>
          <li> Things to look for when choosing a college </li>
          <li> How to prepare for common college trials: roommates, dorm food, Teacher’s Assistants, and the occasional challenges of missing your family</li>
          <li> College success: what it is like to make friends,</li>
          <li> getting involved on campus and how to manage time </li>
          <li> Essay System Step One: Determining your Power Topic</li>
          <li> The importance of showcasing what is special about you in your essay and how to emphasize your unique essay hook. Review samples and discuss what has worked for past applicants at top U.S. universities.</li>
          <li> Essay System Step Two: Writing your introduction</li>
          <li> and outline</li>
          <li> How to start your essay to grab your reader’s attention</li>
          <li> Writing a power topic sentence</li>
          <li> Essay System Step Three: Writing your first draft</li>
          <li> Conveying the big picture</li>
          <li> Key details to include</li>
          <li> How to use the writing software</li>
          <li> One-on-One session with a Fat Envelope Writing Coach to review your first draft.</li>
      </div>
    </div>
    
    <div class="span7">
      <div class="bootcamp">
        <h2>Boot Camp Day Two: </h2>
        <ul>
          <li>Overview</li>
          <li> What to look for when touring colleges</li>
          <li> Do’s and Don’ts of the College Interview</li>
          <li> Trends in majors, finding jobs, and how to strategize for your future and not end up in your parents’ basement</li>
          <li> Identifying your post-college goals </li>
          <li> Strategies for supplemental essays</li>
          <li> Essay System Step Four: Refining your Power Draft: </li>
          <li> Selecting the most important details</li>
          <li> Tightening the story</li>
          <li> Strengthening the introduction and conclusion</li>
          <li> Considering word choice and checking grammar</li>
          <li> One-on-One session with a Fat Envelope Writing Coach to review your Power Draft</li>
        </ul>
        
        <h2>Post Boot Camp</h2>
        
        <p>Final one-on-one 20 minute session with a Fat Envelope Writing Coach to review your final draft and confirm your essay is ready for submission</p>
        
        <p>Come spend ONE PAINLESS WEEKEND and get it done!  You will have fun with our team and meeting other students in your same situation.</p>
        
        <p><strong>All sessions will be held in Seattle.  You will receive specific location details upon registration.  Students are required to bring a laptop for use during the session.</strong></p>
        
        <h2>Seattle Sessions:</h2>
        
        <ul style="list-style-type: none;">
          <li>June 1-2</li>
          <li> June 15-16</li>
          <li> June 29-30</li>
          <li> July 13-12</li>
          <li> July 20-21</li>
          <li> July 27-28</li>
          <li> Aug. 3-4</li>
          <li> Aug 9-10</li>
          <li> Aug 17-18</li>
        </ul>
        
        <h2>Mid-week Sessions:</h2>
        
        <ul style="list-style-type: none;">
          <li>June 12-13</li>
          <li> June 26-27</li>
          <li> July 10-11</li>
          <li> July 24-25</li>
          <li> Aug. 6-7</li>
        </ul>
        
        <p><strong>Single day sessions also available for an individual one-on-one day long course with a professor who will personally get you through the whole process. <br /> VERY LIMITED SPACE! 
</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid faq-container" id="_faq">
  <div class="row-fluid">
    <div class="span4">
      <div class="faq">
        <h1>Frequently Asked Questions</h1>
        
        <h2>How long does the program take?</h2>
        <p>Students complete the program in an average of six weeks. It can be completed in as little as two days. Your schedule is up to you. Writing coaches are available on demand at your convenience.</p>
        
        
        <h2>Do you write the essay for me?</h2>
        <p>No. We do not write essays for applicants. We provide writing coaches to support you in crafting the most competitive application essay. Powerful essays that will catch the attention of admissions committees must showcase your authentic personal voice.</p>
        
        <h2>Will colleges know I used this program?</h2>
        <p>Absolutely not. Your information will be completely private, and the essay you produce will be a completely unique, high-quality essay that is written by you in your voice. It will be the strongest possible authentic sample of your personal writing skills.</p>
        
        <h2>How many essays will I complete?</h2>
        <p>With the Complete and Deluxe Essay Packages, you will complete one essay with the assistance of a writing coach.  Once you have learned the essay building process, you may use the writing software for up to one year to complete unlimited additional essays. You will also have access to the essay system to allow you to reuse the approach to designing your essay topic on an unlimited basis for one year.</p>                
      </div>
    </div>
    
    <div class="span4">
      <div class="faq">
        <h2>What happens during a session with a Fat Envelope Writing Coach?</h2>        
        <p>Your writing coach will access and review your work in the online Criterion Writing Lab before your session.  The coach will then review your essays with you during the session to give you specific insights and recommendations on tone, content, and positioning for an admissions committee beyond what writing software can provide. Following your session, your coach will document the recommendations within the feedback section of the Criterion Writing Lab to allow you to go back and refer to it as you refine your essay.</p>
        
        <h2>When are coaches available?</h2>
        <p>Seven days a week, 6am to 3am EST.</p>
        
        <h2>How do I schedule an appointment?</h2>
        <p>Click the scheduling link on the left side bar.  Select the coach you would like to work with.  Available appointment times will appear. You will receive an email confirmation and reminder.</p>
        
        <h2>How do I meet with my Fat Envelope Writing Coach?</h2>
        <p>ll writing coach sessions are conducted through video chat via Skype. Your writing coach will have access to your essay drafts and analysis through the writing software.  You and your writing coach will login to the writing software to view and discuss your work during the video chat session. Your writing coach will summarize the major points of your feedback session within the writing software for easy access as you make revisions in the future.</p>
        
        <h2>How does the writing software work?</h2>
        <p>The writing software allows students to write and submit their essays for instant online feedback and scoring. It is ideal for students to use individually to refine their essay in preparation for their writing coach session, and it also enables writing coaches to provide effective instruction through having access to its patterning and analysis of student writing over time.</p>                
      </div>
    </div>
    
    <div class="span4">
      <div class="faq">
        <h2>How do I use the writing software after my applications are in?</h2>
        <p>ou will have access to the writing software for twelve (12) months following your enrollment in the system.  You will be able to submit all of your school essays into the program for automatic feedback and scoring on an unlimited basis.  This will allow you to refine and improve your own writing and ensure that you submit top quality homework and papers.</p>
        
        <h2>How do I reschedule an appointment?</h2>
        <p>Your scheduled appt will appear on the home screen side bar. Click the reschedule button beneath it 24 hours before appointment.</p>
        
        <h2>What is Skype? What if I don't have Skype?</h2>
        <p>Skype is free online video chat software.  Skype is available for free download at skype.com</p>
        
        <h2>Can I speak with a writing coach over the phone instead of Skype?</h2>
        <p>No, we require that you use Skype. You may use the audio-only version if you prefer.</p>
        
        <h2>Do my parents have to be involved?</h2>
        <p>No.  Parent involvement is optional.  However, uncovering your unique traits is a critical part of the brainstorming and planning process for a competitive college essay.  Few people know you better than your parent(s), and they can be very helpful in giving you perspective on your unique strengths that you might not otherwise recognize.</p>
      </div>
    </div>
  </div>
</div>

<section class="banner">
	<div class="container">
	   <div class="row">	       
    	   <div class="video">
    		  <!--<video id="main_video" class="video-js vjs-default-skin" controls poster="<%= asset_path 'video_poster.jpg' %>" height="288" width="540" data-setup="{}">
    	          <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
    		  </video>-->
           </div>                       
       </div>		
	</div>
</section>


<!--
<section class="steps container">
<h3>How Does Fat Envelope Work?</h3>
	<div class="icon_check">
		<h4>Choose universities you're interested in</h4>
		<p>We work with every school across the United States. Choose as many as you like and we’ll help you prepare to apply for each. </p>
	</div>
	<div class="icon_timeline">
		<h4>Create your application timeline</h4>
		<p>Take the stress out of college application essays by breaking the process down into manageable units. We’ll help you along the way.</p>
	</div>
	<div class="icon_person">
		<h4>Get 1-on-1 sessions with our coaches</h4>
		<p>Our expert coaches provide you with 1:1 sessions to advise you every step of the way. Each coach is familiar with the ins-and-out of college admission.</p>
	</div>
	<div class="icon_essay">
		<h4>Write the most competitive essay</h4>
		<p><a href="#essay">The Essay System</a> helps you write the most competitive college application essay you can. Pro tips will make you a better writer. </p>
	</div>
</section>
<div class="arrow_divider"></div>
<section class="essay">
	<div class="note">
	<h4>The Essay System</h4>
	<h5>Uncover your unique story</h5>
	<p>Showcasing what makes you unique is critical for standing out to college admissions committees. We start with a series of questions, worksheets, and exercises designed to her you uncover your personal student brand.</p>
	<h5>Develop your pitch</h5>
	<p>Next a writing coach will help you develop a strategic roadmap for your essay to ensure it is pitch perfect.</p>
	<h5>Unleash your voice</h5>
	<p>Draft your essay in our writing lab, powered by state of the art software developed by ETS, the administrators of the SAT. You’ll get instant feedback on structure, grammar, and word choice - in 20 seconds or less - so you can draft in confidence. Access the software for one year to use on future school writing assignments too.</p>
	<h5>Distill and refine</h5>
	<p>500 words or less means you need to choose very carefully. Our writing coaches provide one on one guidance to help you choose your words very carefully.Coaches review student essays in the online writing lab and students schedule two 40 minute online review sessions with the coach conducted via Skype.</p>
	<h5>Polish to perfection</h5>
	<p>You only get one chance to make the right impression. One last session with a writing coach ensures your essay gets a final check before you send it to the college of your dreams.</p>
	</div>
</section>
<!--
<section class="pricing">
	<div class="container">
		<h4>How Much is Fat Envelope?</h4>
		
		<div class="price_small">
			<strong>$99</strong>
		</div>
		<div class="price_large">
			<strong>$250</strong>
		</div>
		<div class="price_small">
			<strong>$499</strong>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<ul>								
			<li><a href="#">register</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">pricing</a></li>			
			<li><a href="#">schools</a></li>
			<li><a href="#">faq</a></li>	
			<li><a href="#">contact</a></li>		
		</ul>
	</div>
</footer>
-->