<section class="banner">
	<div class="container">
	   <div class="row">	       
    	   <div class="video">
    		  <!--<video id="main_video" class="video-js vjs-default-skin" controls poster="<%= asset_path 'video_poster.jpg' %>" height="288" width="540" data-setup="{}">
    	          <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
    		  </video>-->
           </div>                       
       </div>		
	</div>
</section>


<%= javascript_include_tag "marketing.js" %>

<!--
<section class="steps container">
<h3>How Does Fat Envelope Work?</h3>
	<div class="icon_check">
		<h4>Choose universities you're interested in</h4>
		<p>We work with every school across the United States. Choose as many as you like and we’ll help you prepare to apply for each. </p>
	</div>
	<div class="icon_timeline">
		<h4>Create your application timeline</h4>
		<p>Take the stress out of college application essays by breaking the process down into manageable units. We’ll help you along the way.</p>
	</div>
	<div class="icon_person">
		<h4>Get 1-on-1 sessions with our coaches</h4>
		<p>Our expert coaches provide you with 1:1 sessions to advise you every step of the way. Each coach is familiar with the ins-and-out of college admission.</p>
	</div>
	<div class="icon_essay">
		<h4>Write the most competitive essay</h4>
		<p><a href="#essay">The Essay System</a> helps you write the most competitive college application essay you can. Pro tips will make you a better writer. </p>
	</div>
</section>
<div class="arrow_divider"></div>
<section class="essay">
	<div class="note">
	<h4>The Essay System</h4>
	<h5>Uncover your unique story</h5>
	<p>Showcasing what makes you unique is critical for standing out to college admissions committees. We start with a series of questions, worksheets, and exercises designed to her you uncover your personal student brand.</p>
	<h5>Develop your pitch</h5>
	<p>Next a writing coach will help you develop a strategic roadmap for your essay to ensure it is pitch perfect.</p>
	<h5>Unleash your voice</h5>
	<p>Draft your essay in our writing lab, powered by state of the art software developed by ETS, the administrators of the SAT. You’ll get instant feedback on structure, grammar, and word choice - in 20 seconds or less - so you can draft in confidence. Access the software for one year to use on future school writing assignments too.</p>
	<h5>Distill and refine</h5>
	<p>500 words or less means you need to choose very carefully. Our writing coaches provide one on one guidance to help you choose your words very carefully.Coaches review student essays in the online writing lab and students schedule two 40 minute online review sessions with the coach conducted via Skype.</p>
	<h5>Polish to perfection</h5>
	<p>You only get one chance to make the right impression. One last session with a writing coach ensures your essay gets a final check before you send it to the college of your dreams.</p>
	</div>
</section>
<!--
<section class="pricing">
	<div class="container">
		<h4>How Much is Fat Envelope?</h4>
		
		<div class="price_small">
			<strong>$99</strong>
		</div>
		<div class="price_large">
			<strong>$250</strong>
		</div>
		<div class="price_small">
			<strong>$499</strong>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<ul>								
			<li><a href="#">register</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">pricing</a></li>			
			<li><a href="#">schools</a></li>
			<li><a href="#">faq</a></li>	
			<li><a href="#">contact</a></li>		
		</ul>
	</div>
</footer>
-->