<div class="container-fluid about-us-container" id="_about-us">
  <%= render 'layouts/navigation_short' %>
  
  <div class="row-fluid">
    <div class="span7">
      <div class="about-us">
        <h1>About Us</h1>        
        
        <p>We are seasoned educators, professionals, and world travellers. We are also parents who know how it feels to want the best for your children. We founded Fat Envelope to help young people around the world access the education they need to achieve their dreams.</p>
        
        <h2>Nancy Burgoyne</h2>
        <p>Professor Burgoyne holds a Ph.D. in Political Science from New York University and a bachelor’s degree from the University of Utah. She has written, worked and lectured worldwide.  She teaches graduate and undergraduate students and mentors high school students preparing to apply to universities. Nancy is a mother of three who have all been through the college admissions process and she knows firsthand how important a unique polished college essay is for the success for a hopeful student.</p>
        
        <h2>Alicia Hatch</h2>
        <p>Alicia holds a JD from Seattle University and a BA from Brigham Young University.  She is a business development and digital marketing veteran with fifteen years of experience at Microsoft XBOX and as a partner in a global digital marketing firm, Banyan Branch. She is the mother of three young boys who she hopes will attend college someday.</p>
        
        <h2>Masaru Kibukawa</h2>
        <p>Masaru holds a JD from Seattle University and a BA from Dartmouth College. He has almost two decades of professional work in college admissions and advising, particularly for the international student population.</p>
      </div>
    </div>
    
    <div class="span4 offset1">
      <div class="contact-info">
        <p>Questions about our programs?</p>
        
        <p>Please contact us at: <br /> info@fatenvelopeessays.com</p>
        
        <address>
          220 2nd Avenue S <br />
          Seattle, Washington 98104 <br />
          206-877-2123
        </address>
      </div>
    </div>
  </div>
</div>
