<div class="container-fluid bootcamp-container" id="_bootcamp">
  <%= render 'layouts/navigation_short' %>
  <div class="row-fluid">
    <div class="span10">
      <div class="bootcamp">
        <h1>Common App Essay Boot Camp</h1>
        
        <h2>Get a head start on your college applications this summer.  Write your best possible common application essay in just two short days. Fat Envelope Boot Camp is the fast and fun way to get it done.</h2>
        <p>Most students agree that writing the essay is the most painful part of the college application process. Fat Envelope Boot Camp is the cure for that pain. Our experienced coaches will guide you through the process of writing the best essay of your life. You’ll also get a crash course on how to succeed in college, including advice from current college students.</p>
        
        <h2>What to Expect</h2>
        <p>Prior to Boot Camp, you will schedule a 60-minute online video chat with a Fat Envelope Writing Coach to help you identify your most competitive essay hook.</p>
        
        <h2><strong>Boot Camp Day One</strong></h2>
        <ul>
          <li>What to look for when choosing a college</li>
          <li>Advice from real college students on how to make friends, manage your time, deal with bad roommates, and more</li>
          <li>Essay System Step One:  Determining your Power Topic</li>
          <li>How to showcase what’s special about you </li>
          <li>Examples of essays from students who were accepted at top universities</li>
          <li>Essay System Step Two:  Writing your introduction and outline</li>
          <li>How to grab your reader’s attention from the very beginning</li>
          <li>Essay System Step Three:  Writing your first draft</li>
          <li>Conveying the big picture and including key details</li>
          <li>How to use the writing software</li>
          <li>One-on-One session with a Writing Coach to review your first draft.</li>  
        </ul>
                 
        <h2><strong>Boot Camp Day Two</strong></h2>
        <ul>
          <li>What to look for when choosing a college</li>
          <li>Advice from real college students on how to make friends, manage your time, deal with bad roommates, and more</li>
          <li>Essay System Step One:  Determining your Power Topic</li>
          <li>How to showcase what’s special about you </li>
          <li>Examples of essays from students who were accepted at top universities</li>
          <li>Essay System Step Two:  Writing your introduction and outline</li>
          <li>How to grab your reader’s attention from the very beginning</li>
          <li>Essay System Step Three:  Writing your first draft</li>
          <li>Conveying the big picture and including key details</li>
          <li>How to use the writing software</li>
          <li>One-on-One session with a Writing Coach to review your first draft.</li>
        </ul>
        
        <p>After Boot Camp, you’ll schedule a final 20-minute video chat with a Writing Coach to review your final draft and make sure your essay is ready for submission.</p>
        
        <h2>Choose Your Boot Camp</h2>
        <p>All 2013 Boot Camp sessions will be held on the University of Washington campus in Seattle, Washington. You will receive specific location details upon registration.  Students are required to bring a laptop for use during the session.</p>
        
        <ul style="list-style-type: none;">                    
          <li> July 13-12</li>
          <li> July 20-21</li>
          <li> July 27-28</li>
          <li> Aug. 3-4</li>
          <li> Aug 9-10</li>
          <li> Aug 17-18</li>
        </ul>
        
        <h2>Mid-week Sessions:</h2>
        
        <ul style="list-style-type: none;">
          <li> July 24-25</li>
          <li> Aug. 6-7</li>
        </ul>
        
        <br />
        
        <p>Private, single day sessions are also available if you would prefer to work one-on-one with a professor who will personally guide you through the whole process.</p>
        <p>Cost: $650</p>

        <h2>Space is limited. Send an email to <a href="mailto:signup@fatenvelopeessays.com">signup@fatenvelopeessays.com</a> to secure your spot.</h2>
      </div>
    </div>
  </div>
</div>
