<% @page_name = "bootcamp" %>
<style type="text/css">
    span.inner {
        color: white;
    }
    span.outer {
        color: black;
        text-decoration: line-through;
    }
	span.black{
		color:black;
	}
</style>
<div class="container-fluid bootcamp-container content-holder" id="_bootcamp">
  <div class="row-fluid">
    <div class="span10">
      <div class="bootcamp" style="padding-bottom:100px;">
        <h1>Boot Camp</h1>
        
        <h2 style="line-height: 24px;">Get a head start on your college applications this summer.  Write your best possible common application essay in just two short days. Fat Envelope Boot Camp is the fast and fun way to get it done.</h2>
        <p>Most students agree that writing the essay is the most painful part of the college application process. Fat Envelope Boot Camp is the cure for that pain. Our experienced coaches will guide you through the process of writing the best essay of your life. You’ll also get a crash course on how to succeed in college, including advice from current college students.</p>
        
        <h2>What to Expect</h2>
        <p>Prior to Boot Camp, you will schedule a 60-minute online video chat with a Fat Envelope Writing Coach to help you identify your most competitive essay hook.</p>
        
        <h2><strong>Boot Camp Day One</strong></h2>
        <ul>
          <li>What to look for when choosing a college</li>
          <li>Advice from real college students on how to make friends, manage your time, deal with bad roommates, and more</li>
          <li>Essay System Step One:  Determining your Power Topic</li>
          <li>How to showcase what’s special about you </li>
          <li>Examples of essays from students who were accepted at top universities</li>
          <li>Essay System Step Two:  Writing your introduction and outline</li>
          <li>How to grab your reader’s attention from the very beginning</li>
          <li>Essay System Step Three:  Writing your first draft</li>
          <li>Conveying the big picture and including key details</li>
          <li>How to use the writing software</li>
          <li>One-on-One session with a Writing Coach to review your first draft.</li>  
        </ul>
                 
        <h2><strong>Boot Camp Day Two</strong></h2>
        <ul>
          <li>What to look for when touring colleges</li>
          <li>Do’s and don’ts of the college interview</li>
          <li>Trends in majors and the job market</li>
          <li>How to strategize for your future and not end up in your parents’ basement</li>
          <li>Strategies for supplemental essays</li>
          <li>Essay System Step Four:  Refining your Power Draft  </li>
          <li>Selecting the most important details</li>
          <li>Tightening the story</li>
          <li>Strengthening the introduction and conclusion</li>
          <li>Considering word choice and checking grammar</li>
          <li>One-on-One session with a Writing Coach to review your Power Draft</li>
        </ul>
        
        <p>After Boot Camp, you’ll schedule a final 20-minute video chat with a Writing Coach to review your final draft and make sure your essay is ready for submission.</p>
        
        <h2>Choose Your Boot Camp</h2>
        <p>All 2014 Boot Camp sessions will be held in Seattle, Washington. You will receive specific location details upon registration.  Students are required to bring a laptop for use during the session.</p>
        
        <h2>Weekend Sessions (Groups meet 10:00am - 3:00pm)</h2>

        <ul style="list-style-type: none;">
		  <% if false %><li><span class="outer"><span class="inner">Nov. 16-17</span></span><span class="black">    Classes Full / Unavailable</span></li><% end %>
          <li> May 3-2</li>
		  <li> June 28-29</li>
		  <li> July 12-13</li>
          <li> July 19-20</li>
          <li> July 26-27</li>
          <li> Aug. 2-3</li>
          <li> Aug. 9-10</li>
          <li> Aug. 16-17</li>
          <li> Aug. 23-24</li>
        </ul>
        
        <h2>Mid-week Sessions (Groups meet 7:00pm - 9:30pm)</h2>
        
        <ul style="list-style-type: none;">        
          <li>July 8,10,15,17</li>
          <li>July 22,24,29,31</li>
          <li>Aug. 5,7,12,14</li>
          <li>Aug. 19,21,26,28</li>
        </ul>                

        <h2>Cost: $950</h2>                      

        <br />

		    <%= link_to "Register", { :controller => "registration", :action => "new", :program => 4 }, :class => "btn" %>

        <br /><br />

        <p>Private, single day sessions are also available if you would prefer to work one-on-one with a professor who will personally guide you through the whole process. Email <a href="mailto:intro@fatenvelopeessays.com">info@fatenvelopeessays.com</a> for more information.</p>
      </div>
    </div>
  </div>
</div>
