<div class="container-fluid essay-container" id="_essay-system">
  <%= render 'layouts/navigation_short' %>
  <div class="row-fluid">
    <div class="span10">
      <div class="essay">
        <h1>College Application Essay System</h1>
        
        <hr />
        
        <p>With Fat Envelope’s patent-pending system, anyone can write a fantastic college application essay. We break the writing process down into a series of manageable steps and support you all the way.</p>               
        
        <ul style="list-style-type: none;">
          <li>
            <h2>One-on-One Coaching</h2> 
            <p>Your personal Fat Envelope Writing Coach will guide you from start to finish. Coaching sessions are held via video chat at each of the five stages of the writing process.</p>
          </li>
          
          <li>
            <h2>Finding Your Hook</h2>
            <p>You and your parents will fill out questionnaires about your interests, experiences, and background. Your Writing Coach will use this information to help you identify your most competitive essay hook—a unique perspective on one of the six essay topics in the Common App.</p>
          </li>
          
          <li>
            <h2>Visual Approach</h2>
            <p>Fat Envelope uses the image of a kite to illustrate the key elements of a well-constructed college application essay. This visual roadmap will give you a clear understanding of how these elements work together, so you can build and polish your essay one piece at a time.</p>
          </li>
          
          <li>
            <h2>Writing Software</h2>
            <p>The web-based Fat Envelope Writing Lab will provide instant feedback on your drafts. The software analyzes grammar, construction, and syntax to deliver a numerical score that helps you assess and improve the quality of your work. Your Writing Coach will provide additional detailed feedback inside the Lab environment.</p>
          </li>
        </ul>
        
        <br />
        
        <p>You can complete the Fat Envelope essay writing program at any pace you choose. Find out more about our virtual <a href="<%=programcosts_path%>">Programs and Pricing</a>. Or, sign up for a Seattle <a href="<%=advisors_path%>">Boot Camp</a> session and get it done in just two days.</p>
      </div>
    </div>
  </div>
</div>
