<div class="container-fluid essay-container" id="_essay-system">
  <%= render 'layouts/navigation_short' %>
  <div class="row-fluid">
    <div class="span12">
      <div class="essay">
        <h1>Essay</h1>
        
        <p>Fat Envelope has designed a patent-pending visual essay building system to walk you through five manageable steps to writing your power essay.</p>
        
        <p>Build your essay step-by-step with our patented visual essay building process:</p>
        
        <ul>
          <li>Determine your most competitive essay hook.</li>
          <li> Write and refine your drafts with instant feedback from Fat Envelope essay writing software. </li>
          <li> Work one-on-one with a Fat Envelope writing coach (5 individual sessions/2.5 hours total) </li>
        </ul>
        
        <p>Your personal writing coach will guide you through this process from start to finish.</p>
      </div>
    </div>
  </div>
</div>
