<div class="container-fluid faq-container" id="_faq">
  <%= render 'layouts/navigation_short' %>
  <div class="row-fluid">
    <div class="span10">
      <div class="faq">
        <h1>Frequently Asked Questions</h1>
        
        <h2>How long does the program take?</h2>
        <p>Students complete the program in an average of six weeks. It can be completed in as little as two days. Your schedule is up to you. Writing coaches are available on demand at your convenience.</p>
        
        
        <h2>Do you write the essay for me?</h2>
        <p>No. We do not write essays for applicants. We provide writing coaches to support you in crafting the most competitive application essay. Powerful essays that will catch the attention of admissions committees must showcase your authentic personal voice.</p>
        
        <h2>Will colleges know I used this program?</h2>
        <p>Absolutely not. Your information will be completely private, and the essay you produce will be a completely unique, high-quality essay that is written by you in your voice. It will be the strongest possible authentic sample of your personal writing skills.</p>
        
        <h2>How many essays will I complete?</h2>
        <p>With the Complete and Deluxe Essay Packages, you will complete one essay with the assistance of a writing coach.  Once you have learned the essay building process, you may use the writing software for up to one year to complete unlimited additional essays. You will also have access to the essay system to allow you to reuse the approach to designing your essay topic on an unlimited basis for one year.</p>                
      </div>

      <div class="faq">
        <h2>What happens during a session with a Fat Envelope Writing Coach?</h2>        
        <p>Your writing coach will access and review your work in the online Criterion Writing Lab before your session.  The coach will then review your essays with you during the session to give you specific insights and recommendations on tone, content, and positioning for an admissions committee beyond what writing software can provide. Following your session, your coach will document the recommendations within the feedback section of the Criterion Writing Lab to allow you to go back and refer to it as you refine your essay.</p>
        
        <h2>When are coaches available?</h2>
        <p>Seven days a week, 6am to 3am EST.</p>
        
        <h2>How do I schedule an appointment?</h2>
        <p>Click the scheduling link on the left side bar.  Select the coach you would like to work with.  Available appointment times will appear. You will receive an email confirmation and reminder.</p>
        
        <h2>How do I meet with my Fat Envelope Writing Coach?</h2>
        <p>ll writing coach sessions are conducted through video chat via Skype. Your writing coach will have access to your essay drafts and analysis through the writing software.  You and your writing coach will login to the writing software to view and discuss your work during the video chat session. Your writing coach will summarize the major points of your feedback session within the writing software for easy access as you make revisions in the future.</p>
        
        <h2>How does the writing software work?</h2>
        <p>The writing software allows students to write and submit their essays for instant online feedback and scoring. It is ideal for students to use individually to refine their essay in preparation for their writing coach session, and it also enables writing coaches to provide effective instruction through having access to its patterning and analysis of student writing over time.</p>                
      </div>    
    
      <div class="faq">
        <h2>How do I use the writing software after my applications are in?</h2>
        <p>ou will have access to the writing software for twelve (12) months following your enrollment in the system.  You will be able to submit all of your school essays into the program for automatic feedback and scoring on an unlimited basis.  This will allow you to refine and improve your own writing and ensure that you submit top quality homework and papers.</p>
        
        <h2>How do I reschedule an appointment?</h2>
        <p>Your scheduled appt will appear on the home screen side bar. Click the reschedule button beneath it 24 hours before appointment.</p>
        
        <h2>What is Skype? What if I don't have Skype?</h2>
        <p>Skype is free online video chat software.  Skype is available for free download at skype.com</p>
        
        <h2>Can I speak with a writing coach over the phone instead of Skype?</h2>
        <p>No, we require that you use Skype. You may use the audio-only version if you prefer.</p>
        
        <h2>Do my parents have to be involved?</h2>
        <p>No.  Parent involvement is optional.  However, uncovering your unique traits is a critical part of the brainstorming and planning process for a competitive college essay.  Few people know you better than your parent(s), and they can be very helpful in giving you perspective on your unique strengths that you might not otherwise recognize.</p>
      </div>
    </div>
  </div>
</div>