<% @page_name = "programs" %>
<div class="container-fluid pricing-container content-holder" id="_pricing">
  <div class="row-fluid">
    <div class="span10">
      <div class="pricing">
        <h1>Programs and Pricing</h1>
     
        <div class="row-fluid" style="position:relative;">
		  <div class="span12">
			<p>In addition to our intensive <a href="/pages/bootcamp">boot camp sessions</a>, we offer the following three Essay Packages.</p><p>We also offer private tutoring in a one-on-one environment.  <a href="mailto:info@fatenvelopeessays.com?Subject=Fat%20Envelope%20Information%20Request" target="_top">Please email us</a> for availability and pricing.</p>
		  </div>
          <div class="span4" style="margin-left:0px;">
            <h2>DETERMINE YOUR COMPETITIVE ESSAY HOOK:</h2>
            <p class="price">$350</p>
            
            <p>Includes: </p>
            <p>Determine Your Competitive Essay Hook Program, including student and parent questionnaires</p>
            <p>60 min one-on-one session with a Fat Envelope Writing Coach to identify your power topic.</p>
    
    		    <%= link_to "Register", { :controller => "registration", :action => "new", :program => 1 }, :class => "btn" %>
          </div>
        
          <div class="span4">    
            <h2>COMPLETE ESSAY PACKAGE</h2>
            <p class="price">$850</p>
        
            <p>Includes: </p>
            <p>Fat Envelope visual essay building system guides you through our five manageable writing units:</p>
            
            <ul>
              <li>Power Topic</li>
              <li> Power Intro</li>
              <li> First Draft</li>
              <li> Power Draft</li>
              <li> Power Polish</li>
            </ul>
            
            <p>Five Fat Envelope personal writing coach sessions help you step-by-step:</p>
        
            <ul style="list-style-type: none; margin: 0">
              <li>Power Topic (60 min)</li>
              <li>Power Intro (60 min)</li>
              <li>First Draft (40 min)</li>
              <li>Power Draft (40 min)</li>
              <li>Power Polish (20 min)</li>
            </ul>
            
            <p>Fat Envelope writing software: one year unlimited access provides instant detailed critique of any essay.</p>  

        		<%# link_to "Register", { :controller => "registration", :action => "new", :program => 2 }, :class => "btn disabled" %>
				<a class="btn disabled">Register</a>
				<p style="color:#C00;">Sorry, these classes are currently full. We will be adding more classes soon, so please check back.</p>
      		</div>
     
        <div class="span4">
          <h2>DELUXE ESSAY PACKAGE</h2>
          <p class="price">$1150</p>
          
          <p>Includes: </p>
          <p>COMPLETE ESSAY PACKAGE</p>
          <p>PLUS</p>
          <p>Fat Envelope Interview Preparation Questions and Interview Training:</p>
          <p>60 min one-on-one interview training session with a Fat Envelope Power Interview coach to practice your interview skills.</p>
  
		      <%# link_to "Register", { :controller => "registration", :action => "new", :program => 3 }, :class => "btn disabled" %>
			  <a class="btn disabled">Register</a>
			  <p style="color:#C00;">Sorry, these classes are currently full. We will be adding more classes soon, so please check back.</p>
	      </div>
      </div>
    </div>
  </div>
</div>
