<div class="container-fluid bootcamp-container" id="_bootcamp">
  <%= render 'layouts/navigation_short' %>
  <div class="row-fluid">
    <div class="span5">
      <div class="bootcamp">
        <h1>Boot Camp</h1>
        
        <hr />
        
        <h2>COLLEGE APPLICATION ESSAY BOOT CAMP</h2>
        <p>Most students would agree that the most painful part of the college application process writing the essay.  Sign up for a Get It Done Boot Camp and we will help you complete a competitive college application essay or personal statement in two short days.</p>
        
        <h2>Pre-Boot Camp:</h2>
        <p>Prior to Boot Camp, you will schedule a 60 minute online video chat with a Fat Envelope Writing Coach in order to determine your most competitive essay hook.</p>
        
        <h2>Boot Camp Day One:</h2>
        <ul>
          <li>Overview</li>
          <li> Getting Ready for College:</li>
          <li> Things to look for when choosing a college </li>
          <li> How to prepare for common college trials: roommates, dorm food, Teacher’s Assistants, and the occasional challenges of missing your family</li>
          <li> College success: what it is like to make friends,</li>
          <li> getting involved on campus and how to manage time </li>
          <li> Essay System Step One: Determining your Power Topic</li>
          <li> The importance of showcasing what is special about you in your essay and how to emphasize your unique essay hook. Review samples and discuss what has worked for past applicants at top U.S. universities.</li>
          <li> Essay System Step Two: Writing your introduction</li>
          <li> and outline</li>
          <li> How to start your essay to grab your reader’s attention</li>
          <li> Writing a power topic sentence</li>
          <li> Essay System Step Three: Writing your first draft</li>
          <li> Conveying the big picture</li>
          <li> Key details to include</li>
          <li> How to use the writing software</li>
          <li> One-on-One session with a Fat Envelope Writing Coach to review your first draft.</li>
      </div>
    </div>
    
    <div class="span7">
      <div class="bootcamp">
        <h2>Boot Camp Day Two: </h2>
        <ul>
          <li>Overview</li>
          <li> What to look for when touring colleges</li>
          <li> Do’s and Don’ts of the College Interview</li>
          <li> Trends in majors, finding jobs, and how to strategize for your future and not end up in your parents’ basement</li>
          <li> Identifying your post-college goals </li>
          <li> Strategies for supplemental essays</li>
          <li> Essay System Step Four: Refining your Power Draft: </li>
          <li> Selecting the most important details</li>
          <li> Tightening the story</li>
          <li> Strengthening the introduction and conclusion</li>
          <li> Considering word choice and checking grammar</li>
          <li> One-on-One session with a Fat Envelope Writing Coach to review your Power Draft</li>
        </ul>
        
        <h2>Post Boot Camp</h2>
        
        <p>Final one-on-one 20 minute session with a Fat Envelope Writing Coach to review your final draft and confirm your essay is ready for submission</p>
        
        <p>Come spend ONE PAINLESS WEEKEND and get it done!  You will have fun with our team and meeting other students in your same situation.</p>
        
        <p><strong>All sessions will be held in Seattle.  You will receive specific location details upon registration.  Students are required to bring a laptop for use during the session.</strong></p>
        
        <h2>Seattle Sessions:</h2>
        
        <ul style="list-style-type: none;">
          <li>June 1-2</li>
          <li> June 15-16</li>
          <li> June 29-30</li>
          <li> July 13-12</li>
          <li> July 20-21</li>
          <li> July 27-28</li>
          <li> Aug. 3-4</li>
          <li> Aug 9-10</li>
          <li> Aug 17-18</li>
        </ul>
        
        <h2>Mid-week Sessions:</h2>
        
        <ul style="list-style-type: none;">
          <li>June 12-13</li>
          <li> June 26-27</li>
          <li> July 10-11</li>
          <li> July 24-25</li>
          <li> Aug. 6-7</li>
        </ul>
        
        <p><strong>Single day sessions also available for an individual one-on-one day long course with a professor who will personally get you through the whole process. <br /> VERY LIMITED SPACE! 
</strong></p>
      </div>
    </div>
  </div>
</div>
