<div class="container-fluid pricing-container" id="_pricing">
	<%= render 'layouts/navigation_short' %>

	<div class="row-fluid">
		<div class="pricing-heading">
			<h1>Fat Envelope Essays User Agreement</h1>
		</div>
		<div class="span10" style="padding-left:80px;">
<h2>USER AGREEMENT</h2>
<h3>Last Updated: June 2013</h3> 
<p>Welcome to the Fat Envelope Essays website (the “Site”), a service operated by North American Business Institute LLC. (“NABI LLC,” “we,” or “us”). This document (the “User Agreement” or the “Agreement”) is a legal contract that describes the conditions under which users (“you”) are permitted to use the Site. This User Agreement, including the Privacy Policy, applies to this Site only, including the mobile version of this site
By using the Site, you agree to be bound by this contract. If you do not accept the Agreement, do not use the Site.</p>
<h2>CHANGES TO THE AGREEMENT</h2>
<p>We may change this Agreement at any time, so we encourage you to review it periodically before using the Site. To assist you in doing this, we will make the most recent version of the Agreement available on the Site, and we will indicate at the top of the Agreement the most recent date when it was modified.</p>
<p>By continuing to use the Site after we modify the Agreement, you accept the new version of the Agreement. Therefore, it is important that you read this page regularly to ensure you are familiar with the most updated Agreement. If you do not agree to the changes, you should not continue to use the Site and should instead contact us by emailing FEprivacy@fatenvelopeessays.com.</p>
<h2>SCOPE OF LICENSE</h2>
<p>In exchange for your acceptance of this Agreement, you are authorized to use the Site, but only for personal and noncommercial purposes. In particular, you cannot use the Site to generate revenue or to distribute or redistribute any portion of the Site.</p>
<p>The Site contains material that is protected by copyright, trademark, or other intellectual property rights, and the Site itself is protected as a collective work under the copyright laws of the United States and other countries. Except for User Content (defined below) that you own, you may not download, modify, publish, transmit, create derivative works from, or in any way exploit, any component of the Site.</p>
<p>You may link to the home page of the Site as long as the link does not cast us in a false or misleading light or suggest or imply that you own or are the author of content on the Site or that you have a relationship with us. Please let us know if you link to the Site by contacting us at. FEprivacy@fatenvelopeessays.com. You agree that our failure to object to your link to the Site, whether or not you notify us, does not constitute our consent to the link. You may not frame the content of the Informational Site. You may not use metatags or any other “hidden text” that incorporates the Fat Envelope Essays Trademarks or our name without our express written consent.</p>
<h2>CHILDREN</h2>
<p>The Site is intended for the use of adults 18 years or older and children over the age of 13. You are not permitted to use the Site if you are under the age of 13. By using the Site, you agree to provide us with accurate information concerning your age or identity if we request it. You also agree not to assist children under the age of 13 in accessing the Site or to attempt to contact children under 13 through the Site.</p>
<h2>SECURITY</h2>
<p>In exchange for your access to the Site, you agree not to take any steps that are intended to or could damage, inhibit, or prevent operation of the Site or that could cause injury to yourself, to us, or to anyone else.</p>
<p>Without limitation, you agree not to attempt to:<br/>
1. modify the Site or make it possible for you or someone else to access the Site without using an interface that we provide (including through the use of spiders or robots, except to facilitate the creation of public search engines that catalog publicly accessible portions of the Site);<br/>
2. introduce viruses or any other computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;<br/>
3. damage, disable, overburden, impair, or gain unauthorized access to the Site or our servers, computer network, or user accounts;<br/>
4. collect information about other users for the purpose of sending, or to facilitate or encourage the sending of, unsolicited bulk or other communications, or for any other purpose not explicitly authorized by us;<br/>
5. falsify, conceal, or modify information identifying yourself or another user, including Internet Protocol header information;<br/>
6. use our servers, networks, or other facilities for any purpose not explicitly authorized by us, including for the transmission of messages not authorized by us, or to interfere with or cause damage to the Site or any other service operated by us or any other party; or<br/>
7. take any other action that we, in our exclusive discretion, believe may damage or injure you, us, or any third party.</p>
<br/>
<br/>
</div>
	<div class="pricing-heading">
		<h1>PRIVACY</h1>
	</div>
<div class="span10" style="padding-left:80px;">
<h2>Fat Envelope Essays Privacy Policy / Your Privacy Rights</h2>
<h3>Last Revised: June 26, 2013</h3>
<p>This is the Privacy Policy for the Fat Envelope Essays website (the "Site"), which is operated by North American Business Institute LLC. ("NABI," “we,” or “us”). This Privacy Policy applies only to the Site and not to other websites or services operated by NABI or its subsidiaries or affiliates.
Your privacy is very important to us and we are committed to protecting it. We understand that you need to be in control of your personal information. This Privacy Policy explains the manner in which we collect personal information from you and the purpose for that collection. This Privacy Policy is designed to ensure that you are aware of how your personal information is being used and to provide you with choices about that use. By visiting the Site or submitting your personal information, you accept the terms described in this Privacy Policy.</p>
<h2>Collection of Personal Information</h2>
<p>We collect information that identifies you, such as names, postal addresses, and email addresses (“personal information”), when voluntarily submitted by our visitors. We receive and store any information that you choose to enter through the Site, including any submissions that you make or content you provide on or through the Site. We do not knowingly collect information from children under the age of 13. Should we learn that a child under 13 has provided us with personal information, we will delete that information from our database.</p>
<h2>Automated Information Collections</h2>
<p>A cookie is a string of information that is sent by a Web site and stored on your hard drive or temporarily in your computer's memory. We may employ cookie technology to identify you, track your use of the site, to help you move faster through our Site, to estimate our total audience size and traffic, and to help us improve our Site's experience by measuring which site areas are of greatest interest to users. You can turn off the ability to receive any of these cookies by adjusting the browser in your computer, but you should note that disabling cookies in your browser may also prevent other websites from placing cookies on your computer. If you do this, it may materially affect the functionality of the Site and the information you can access through it. If you wish to find out more about cookies, or how to refuse cookies, please visit the Interactive Advertising Bureau's web site at www.allaboutcookies.org. </p>
<p>We collect data when you visit most pages on the Site. Your visit may automatically provide us with data about your computer, such as your IP (Internet Protocol) address, browser type, operating system, domain name, access times, and referring web site addresses. Some parts of the Site may use embedded pixel or other technologies to track and facilitate your use of the Site, including the activities in which you participate or the pages you view.</p>
<p>We use this automated data to obtain general statistics regarding the use of the Site and its specific web pages and to evaluate how our visitors use and navigate the Site on an aggregate basis.</p>
<h2>How We Use Your Information</h2>
<p>We may use the information we collect about you in connection with providing services offered on the Site, including in the following ways:<br/>
•	For the purpose for which you specifically provided the personal information, for example to respond to a specific inquiry. <br/>
•	To send you notifications about your accounts or transactions with us and to otherwise contact you with information that we believe will be of interest to you. <br/>
•	To notify you about our products and services and special offers. <br/>
•	To analyze our business or use of the Site, enhance existing features, or develop new features products and services. <br/>
•	To allow you access to the Site to post your own content or communicate with others.<br/>
•	As otherwise described to you at the point of collection.
</p>
<p>
We may combine the information that we collect from you on the Site with information that we collect from third parties, including our affiliates or subsidiaries.</p>
<h2>Sharing with Third Parties</h2>
<p>We may share the information we collect about you in limited circumstances, including:<br/>
•	With service providers that perform certain functions on our behalf, including processing information that you provide to us on the Site, operating the Site or portions of it, or in connection with other aspects of our business.<br/>
•	With all visitors to the Site, to the extent that you submit information to a portion of the Site designed for public communications.<br/>
•	With our affiliates and subsidiaries.<br/>
•	To selected third parties for direct marketing purposes, although you may choose upfront and at no cost that we not share your personal information with these third parties for direct marketing purposes by notifying us at FEprivacy@fatenvelopeessays.com<br/>
•	To respond to subpoenas, court orders, or other legal process, in response to a request for cooperation from law enforcement or another government agency, to investigate, prevent, or take action regarding illegal activities, suspected fraud, or to enforce our user agreement or privacy policy, or to protect our rights or the rights of others.<br/>
•	In connection with a corporate transaction involving NABI;<br/>
•	In aggregated or another non-personally identifiable form to third parties for various business purposes, including improving the quality of our business, the Site, and the products and services we offer.<br/>
•	As otherwise described to you at the point of collection or pursuant to your consent.
</p>
<h2>Your Ability To Choose</h2>
<p>
You can let us know, upfront and at no cost, that you do not wish us to share your information with third parties for marketing purposes or to notify you about our own products and services and special offers by sending us a written request either by email to FEprivacy@fatenvelopeessays.com, including the word "Unsubscribe" in the subject line, or by writing to: <br/>
Attn: Unsubscribe<br/>
Fat Envelope Essays Online Programs<br/>
220 1st Avenue South<br/>
Seattle, WA 98112<br/>
Review and Correction<br/>
You may review and update the personal information you have provided to us contacting us at FEprivacy@fatenvelopeessays.com or by writing to: <br/>
Attn: CRM Update<br/>
Fat Envelope Essays Online Programs<br/>
220 1st Avenue South<br/>
Seattle, WA 98112
</p>
<h2>Security</h2>
<p>We care about protecting the security of your personal information, and we have implemented security procedures to protect the personal information that you provide to us. However, no method of transmitting or storing electronic data is ever completely secure, and we cannot guarantee that such information will never be accessed, used, or released in a manner that is inconsistent with this policy.</p>
<h2>Links to Other Web Sites</h2>
<p>We may make content or services from other web sites including our affiliated or co-branded web sites, or partner web sites, available to you from links located on this site. These other web sites are not subject to this Privacy Policy. We recommend that you review the Privacy Policy at each such web site to determine how that site protects your privacy.</p>
<h2>Transfer of Data Outside of Your Home Country</h2>
<p>Your information may be stored, processed and accessed in the United States or any other countries where NABI  has facilities. By using the Site, you consent to the transfer of information outside your country.</p>
<h2>Questions about Data Collection and Processing</h2>
<p>You may ask questions about the data you have submitted through this Site by using the information below to contact us.</p>
<h2>Changes to This Policy</h2>
<p>From time to time we may modify this Policy. We will notify you of any material change by sending a notice to the e-mail address you provided to us or by placing a prominent notice on our Web site. You can view the most recent version of the Privacy Policy at any time by clicking the “Privacy Policy” link at the bottom of pages on the Site. Your continued use of the Site after any modification indicates your agreement to the new terms.</p>
<h2>How You Can Contact Us</h2>
<p>If you have any questions or concerns about this Privacy Policy, you may contact us at: FEprivacy@fatenvelopeessays.com</p>

<h2>NOTICE OF COPYRIGHT INFRINGEMENT</h2>
<p>We respect the rights of all copyright holders, and we have adopted and implemented a policy that provides for the termination in appropriate circumstances of users who infringe the rights of copyright holders. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide our designated copyright agent with the following information: <br/>
1. identification of the copyright work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;<br/>
2. identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;<br/>
3. information reasonably sufficient to permit us to contact the complaining party;<br/>
4. a statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;<br/>
5. a statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; and<br/>
6. a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
</p>
<p>
Our copyright agent for notice of claims of infringement on the Site is:<br/>
Director of Finance<br/>
North American Business Institute, LLC<br/>
Fat Envelope Essays Online Programs<br/>
220 1st Avenue South<br/>
Seattle, WA 98112<br/>
copyright@fatenvelopeessays.com
</p>
<h2>THIS CONTACT INFORMATION IS ONLY FOR SUSPECTED COPYRIGHT INFRINGEMENT. IF YOU WOULD LIKE TO CONTACT US ABOUT ANOTHER MATTER, PLEASE EMAIL US AT</h2><p> FEprivacy@fatenvelopeessays.com.</p>
<p>We will remove any content that infringes upon the copyright of any person under the laws of the United States upon receipt of such a statement (or any statement in conformance with 17 U.S.C. § 512(c)(3)), and will terminate the access privileges of those who repeatedly infringe on the copyright of others. United States law imposes substantial penalties for falsely submitting a notice of copyright infringement.</p>
<h2>LINKED WEBSITES AND ADVERTISING</h2>
<p>As a convenience to users, we may provide links to third-party content, websites or services. We do not endorse, sponsor, control, or otherwise accept responsibility for this material, except to the extent that we otherwise control it.</p>
<p>You should be aware that third-party websites are not covered by this Agreement or our Privacy Policy, and we therefore cannot be responsible for the content or practices of any such website, even if it links to the Site or even if the website is operated by a company affiliated or otherwise connected with us.</p>
<h2>DISCLAIMER OF WARRANTY; LIMITATION OF LIABILITY</h2>
<p>
You understand that the Site is provided purely for your entertainment, and we do not guarantee that the information provided on the Site will be accurate or updated. We do not guarantee that we will continue to provide the Site, that the Site will be available at any particular time or from any particular place, or that it will continue to function in the manner that it currently functions.
</p><p>
You agree not to hold us liable for damages you claim are caused by third parties who contact you using the Site or become aware of your identity through the use of the Site, and you understand that, while such behavior is a violation of this Agreement, we need not attempt to control or identify individuals who falsify their identities or provide false information to others through the use of the Site. You agree that we are not liable for the infringing, defamatory, offensive, or illegal contact of third parties, including other users.
</p><p>
IN NO EVENT WILL WE, OUR PARENTS OR AFFILIATES, OR ANY OF OUR RESPECTIVE INVESTORS, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS AND SUPPLIERS (COLLECTIVELY, THE “INDEMNIFIED PARTIES”), BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR OTHER DAMAGES, INCLUDING LOSS OF PROFITS, ARISING OUT OF OR IN ANY WAY RELATED TO THE USE OF THE SITE (INCLUDING ANY INFORMATION, PRODUCTS OR SERVICES ADVERTISED IN, OBTAINED ON OR PROVIDED THROUGH THE SITE OR CONTENT CREATED ON OR THROUGH THE SITE).
</p><p>
THE SITE IS PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
</p><p>
THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF THE SERVICES, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, GROSS NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION, EVEN IF THE CLAIM ALLEGES THAT THE INDEMNIFIED PARTIES’ CONDUCT WAS WILLFUL.
</p>
<h2>INDEMNIFICATION</h2>
<p>
You agree to defend, indemnify and hold harmless the INDEMNIFIED Parties from and against ANY AND all claims, damages, losses, liabilities, costs of debt, and expenses (including but not limited to attorney’s fees AND COSTS) arising from or in connection with: (i) your use of and access to the SITE; (ii) your violation of any term of THIS AGREEMENT; (iii) your violation of any third-party right, including without limitation any copyright, property, or privacy right; or (Iv) any claim that your User CONTENT caused damage to THE INDEMNIFIED PARTIES, YOURSELF, OR a third party. YOU FURTHER AGREE TO PROVIDE ALL REQUESTED ASSISTANCE TO THE INDEMNIFIED PARTIES IN DEFENDING OR PROSECUTING ANY LEGAL ACTION COVERED BY THIS INDEMNIFICATION. This defense and indemnification obligation will survive any termination of this Agreement or your access to the SITE. 
</p>
<h2>GOVERNING LAW; INTEGRATION; NO WAIVER; SEVERABILITY; TERMINATION</h2>
<p>
You agree that any dispute between you and us will be governed by the laws of the United States of America and the State of Washington, without regard to choice of law rules, and that any legal action brought by one party against the other will be brought exclusively in the appropriate court within the State of Washington. If you are located outside of the United States of America, you agree that, by entering into this agreement, you voluntarily subject yourself to the jurisdiction of the courts of the United States of America and the State of Washington, and you agree that you may be sued in those courts and subject to the judgments and orders of those courts.
</p><p>
You agree that, notwithstanding any provision of law to the contrary, if you are located outside of the United States, we may satisfy our obligation to serve you with legal process by sending an electronic mail message to the email address that you provided when you registered for the Services or by sending a paper communication to you at the postal address that you provided when you registered for the Services. You further agree that service will be deemed accomplished when we send the electronic mail message or paper communication, as appropriate, and that service may be proven through evidence that we sent the communication, regardless of whether we obtain evidence that you received the communication or that the communication was not delivered.
</p><p>
This Agreement, along with the Privacy Policy incorporated within it by reference, constitutes the entire agreement between you and us. They govern your use of the Site (but excluding services, if any, that we may provide to you under a separate written agreement), and completely replace any prior agreements between you and us in relation to the Site.
</p>
</div>
</div>
</div>