<body style="background-color:#627886;">
<% @page_name = "private-tutoring" %>
<div class="container-fluid faq-container content-holder" id="_faq" style="height:100%;">
  <div class="row-fluid">
    <div class="span10" style="color:#FFF; font-size:16px;">
			<h1 style="font-family: 'Tenor Sans', sans-serif; color:#FFF;">Private Tutoring</h1>
			<h2 style="font-family: 'Tenor Sans', sans-serif; color:#FFF;">We will help you get into the college of your choice with one-on-one coaching</h2>
			<p>Most students agree that writing the essay is the most painful part of the college application process. Fat Envelope Eassays is the cure for that pain.  In a one-on-one seting, one of our experienced coaches will guide you through the process -- from identifying your most competitive hook, to reviewing and revising your application essay.</p>

			<p><a href="mailto:info@fatenvelopeessays.com?Subject=Fat%20Envelope%20Information%20Request" target="_top" style="color:#1b1d4f;">Email us</a> for rates and information.</p>
    </div>
  </div>
</div>