<% @page_name = "private-tutoring" %>
<div class="container-fluid faq-container content-holder" id="_faq">
  <div class="row-fluid">
    <div class="span10">
		<h1>Frequently Asked Questions</h1>
		<p>placeholder</p>
    </div>
  </div>
</div>