<div class="container-fluid pricing-container" id="_pricing">
	<%= render 'layouts/navigation_short' %>

	<div class="row-fluid">
		<div class="pricing-heading">
			<h1>Editing bootcamp</h1>
		</div>
		<div class="span12">
			<%= render 'form' %>
			<%= link_to 'Back', bootcamps_path %>
		</div>
	</div>
</div>