<div class="container top-padding">
<h1>Bootcamps</h1>

<br />
<br />
<table class="table table-bordered table-condensed">
	<tr>
		<th>Bootcamp date</th>
		<th></th>
		<th></th>
	</tr>

	<% @bootcamps.each do |bootcamp| %>
	<tr>
		<td><%= bootcamp.bootcamp_date %></td>
		<td><%= link_to 'Edit', edit_bootcamp_path(bootcamp) %></td>
		<td><%= link_to 'Destroy', bootcamp, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Bootcamp', new_bootcamp_path %>

</div>