<h2>Edit school</h2>

<%= render 'form' %>

<%= link_to 'Delete School', @school, confirm: 'Are you sure? All information regarding this school and any progress you have made will be deleted.', method: :delete %>
