// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard_button{margin:10px auto; width:150px; float:left; clear:both; display:block;}