<% flash.each do |name, msg| %>
  <div id="alert-messages" class="alert alert-<%= name == :notice ? "success" : "error" %> alert_fade">
    <a class="close" data-dismiss="alert">×</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<script>
$(document).ready(function(){
	setTimeout(function(){
		$('#alert-messages').slideUp();
	},5000);
});
</script>
<% end %>